#gameArea {
    width: 800px;
    height: 600px;
    background-color: yellow;
    position: relative;
    overflow: hidden;
}

#player, #enemy, .obstacle {
    position: absolute;
}

#player {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
}

#enemy {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.obstacle {
    width: 40px;
    height: 40px;
    background-color: black;
}

#score {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    font-size: 18px;
    padding: 10px;
}
